body{
    background-color: #333;
}

.h-logo{
    padding: 20px;
}

.h-logo img{
    width: 100px;
    height: 100px;
    float: left;
}

.h-title{
    padding: 20px;
    float: left;
}

.h-title h3{
    color: #286090;
}